.ourFleet{
    margin-top: 50px;
    color: white;
    background-color: black;
    margin-left: 18%;

    h1{
        margin-bottom: -50px;
    }
}



@media screen and (max-width: 450px) {

    .ourFleet{
        h1{
            font-size: 60px;
            padding-top: 20px;
            margin-left: 5px;
        }

        .move{
            margin-left: 0px;
        }
    }

}